{{/* Description: A minimal template without borders */}}
{{- define "art" }}
 ╔════════════════════════════════════════════════════════════════════╗
 ║                     P A R S E C  P R E S E N T S                   ║
 ╚════════════════════════════════════════════════════════════════════╝
{{- end -}}
{{ include "art" . }}

+======================================================================+
{{ include "release_name" (.WithLineWidth 70) | applyBorder "|" "|" }}
+======================================================================+
{{ include "plot" . }}

+----------------------------------------------------------------------+
|                              VIDEO INFO                              |
+----------------------------------------------------------------------+
{{ include "video_info" . }}
+----------------------------------------------------------------------+
|                              AUDIO INFO                              |
+----------------------------------------------------------------------+
{{ include "audio_info" . }}
+----------------------------------------------------------------------+
|                            SUBTITLE INFO                             |
+----------------------------------------------------------------------+
{{ include "sub_langs" . }}
{{- if .Notes }}
+----------------------------------------------------------------------+
|                            RELEASE NOTES                             |
+----------------------------------------------------------------------+
{{ include "notes" . }}{{ end }}
+======================================================================+
|                               OVERVIEW                               |
+======================================================================+
{{ include "overview" . }}
{{ include "links" . }}

{{ include "footer" . }}
