.git
.gitignore
.gitea/
.woodpecker/
Dockerfile
.dockerignore

docker-compose.yml
docker-compose.yaml
compose.yml
compose.yaml

*.md
LICENSE

data/
tmp/
dist/
build/
coverage/
vendor/
scripts/
docker/config/

*.log
