{{ define "art" }}
  {{- include "art/content" . | padRight 48 | center .LineWidth -}}
{{- end }}

{{ define "art/content" }}
██████╗  █████╗ ██████╗ ███████╗███████╗ ██████╗
██╔══██╗██╔══██╗██╔══██╗██╔════╝██╔════╝██╔════╝
██████╔╝███████║██████╔╝███████╗█████╗  ██║
██╔═══╝ ██╔══██║██╔══██╗╚════██║██╔══╝  ██║
██║     ██║  ██║██║  ██║███████║███████╗╚██████╗
╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝

{{ center 48 "Presents" }}
{{end}}
