{{ define "plot" }}
  {{- if gt (len .EpisodeList) 0 }}
    {{- template "plot/episodes" . }}
  {{- else }}
{{ .Plot | default "No plot available." | wordWrap (sub .LineWidth 2) | center .LineWidth }}
  {{- end }}
{{- end }}

{{ define "plot/episodes" }}
  {{- $ctx := . }}
  {{- range $i, $ep := .EpisodeList }}
    {{- if gt $i 0 }}
{{ "" | center $ctx.LineWidth }}
    {{- end }}
      {{- $epTitle := printf "%s [S%02dE%02d]" $ep.Title $ctx.Season $ep.Number }}
{{ $epTitle | wordWrap (sub $ctx.LineWidth 2) | center $ctx.LineWidth }}
{{ "" | center $ctx.LineWidth }}
    {{- if $ep.Plot }}
{{ $ep.Plot | wordWrap (sub $ctx.LineWidth 2) | center $ctx.LineWidth }}
    {{- end }}
  {{- end }}
{{- end }}
